<mat-toolbar color="primary">
  <span class="title">{{ title }}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/workouts" routerLinkActive="active">
    <mat-icon>fitness_center</mat-icon>
    Workouts
  </button>
  <button mat-button routerLink="/progress" routerLinkActive="active">
    <mat-icon>trending_up</mat-icon>
    Progress
  </button>
  <button mat-button routerLink="/profile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    Profile
  </button>
</mat-toolbar>
