.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin: 0 0.5rem;
}

button[routerLinkActive] {
  opacity: 1;
}

.active {
  text-decoration: underline;
}
